@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.masthead,
.footer {
  background-color: #533A25;
  color: #fff;
}

.nav a:hover {
  color: #DBBF9C;
}

h1 {
  display: inline-block;
  font-family: 'Molle', cursive;
}

.nav a {
  color: #fff;
  text-decoration: none;
  border-bottom: .1em solid;
}

h2, h3, p, h5 {
  color: #533A25;
}

h3 {
  background-color: #DBBF9C;
}

.btn {
  color: #533A25;
  background-color: #DBBF9C;
  border: .20em solid;
  border-color: #533A25;
}

.btn:hover {
  background-color: #533A25;
  border-color: #533A25;
}

.card {
  background-color: #DBBF9C;
  border: 3px solid;
  border-color: #533A25;
  border-radius: .5em;
}

.card:hover {
  background-color: #533A25;
}

.card:hover h2 {
  color: #fff;
}

.card:hover .icon-white {
  display: inline-block;
}

.card:hover .icon {
  display: none;
}

.icon-white {
  display: none;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.icon-white img {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

nav {
  display: inline-block;
}

h5 {
  font-family: 'Molle', cursive;
}

.form-background {
  background-color: #DBBF9C;
}

@media only screen and (min-width: 60em)
